
@import '~@ionic/core/dist/collection/themes/ionic.theme.default.scss';

.profileView {
  ion-card-header {
    background: map-get(map-get($colors, tertiary), base);
    color: map-get(map-get($colors, tertiary), contrast);
    font-weight: bold;
    font-size: 20px;
  }

  ion-label {
    font-weight: bold;
  }
}
