
$offset: 280;
$duration: 1.4s;

.spinner {
  animation: rotator $duration * 0.83 linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite;
  stroke: currentColor;
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(180deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(360deg);
 }
}