
.body {
  background: #CCCCCC;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.inset {
  padding: 1.5em;
}

.main {
  background: white;
  border-radius: 1em;
  overflow: hidden;
}

.header {
  background: #488aff;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 1.5em;
}

.content {
  padding: 1em;
}

.footer {
  background: #444444;
  color: white;
  font-size: 0.8em;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
}

.center {
  text-align: center;
}

.button {
  padding: 1em;
  border-radius: 1em;
  background: #488aff;
  color: white;
  text-decoration: none;
}
